.MainChat
  .group-info
    .group-info__list
      .group-info__list__group-name
        test
      %ul.group-info__list__member-list
        Member：
        %li.group-info__list__member-list__member
          name
    = link_to "#", class: "edit-buttun" do
      Edit


  .message-area
    .message-area__box
      .message-area__box__user-info
        .message-area__box__user-info__name
          masa
        .message-area__box__user-info__date
          2019/11/10(Wed) 17:43:01

      .message-area__box__user-message
        %p.message-area__box__user-message__content
          おはよう
    .message-area__box
      .message-area__box__user-info
        .message-area__box__user-info__name
          taro
        .message-area__box__user-info__date
          2019/11/10(Wed) 17:43:01

      .message-area__box__user-message
        %p.message-area__box__user-message__content
          こんにちわ


  .footer
    = form_with model: [@group, @message], html: {class: "footer-form"}, local: true do |f|
      .input-box
        = f.text_field :message,  class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-buttun"
