.SideBar
  .user-info
    .user-info__list
      %h3.user-info__list__name
        はせ
      %ul.user-info__list__icons
        %li.user-info__list__icons__icon
          = link_to "#" do
            = icon('far', 'edit')

        %li.user-info__list__icons__icon
          = link_to "#" do
            = icon('fas', 'cog')

  .group-list
    .group-list__group
      = link_to "#" do
        .group-list__group__name
          techcamp
        .group-list__group__message
          まだメッセージがありません。